.app__sidebar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary-color);

    h1 {
      background: inherit;
      text-align: center;
      padding: 1rem 2rem;
      letter-spacing: 15px;
      font-size: 1.5rem;
      font-weight: 800;
    }

    @media screen and (max-width: 900px) {
      height: 64px;
      justify-content: center;
      align-items: center;
      background: var(--primary-color);
    }
}

.app__sidebar-bar {
  height: inherit;
  background: inherit;
  
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__sidebar-scroll {
    width: 100%;
    height: 90%;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.boards {
  list-style: none;
  width: 100%;
  height: 30%;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    background: var(--secondary-color);
    text-align: center;
    font-size: 1.2rem;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }