@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  --background-color: #222121;
  --secondary-color: #1b1a1a;
  --font-color: #ebe8f1;
  --highlight-green: #d0ff14;
  --highlightcyan: #3ef2dd;
  --highlightpink: #f44bc2;
  --highlightpurple: #9313b2;
  --highlightblue: #127ada;
}

* {
  background: var(--background-color);
  color: var(--font-color);
  font-family: "Fira sans";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}
