.app__sidebar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary-color);

    h1 {
      background: inherit;
      text-align: center;
      padding: 1rem 2rem;
      letter-spacing: 1rem;
      font-size: 1.5rem;
      font-weight: 800;
    }
}

.app__sidebar-scroll {
    width: 100%;
    height: 90%;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.boards {
  list-style: none;
  width: 100%;
  height: 30%;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }